/* Global */
* {
  font-family: "Inter", sans-serif;
  font-family: "Satisfy", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Bosdy */
body {
  display: flex;
  background: #f3f5fc;
  flex-direction: column;
  justify-content: space-between;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  padding: 1rem;
}

/* Principal */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  margin-top: 1.5rem;
}

.mensagem-entrada {
  border: none;
  resize: none;
  height: 65vh;
  outline: none;
  padding: 3rem;
  font-size: 2rem;
  color: #0a3871;
  border-radius: 24px;
  background-color: transparent;
}

.mensagem-entrada:focus {
  border: 2px solid #0a3871;
}

.mensagem-entrada::placeholder {
  color: #0a3871;
}

.information {
  display: flex;
  margin-bottom: 16px;
  padding-top: 8px;
  gap: 8px;
}

.information p {
  color: #495057;
  font-size: 14px;
  opacity: 1;
}

button {
  height: 67px;
  border-radius: 24px;
  border: 2px solid #0a3871;
  cursor: pointer;
  font-size: 16px;
}

.botton {
  display: flex;
  gap: 24px;
  padding: 10px 0 0;
}

.criptografar {
  background-color: #0a3871;
  color: #ffffff;
  width: 50%;
}

.descriptografar {
  background-color: #d8dfe8;
  color: #0a3871;
  width: 50%;
}

#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3.5rem;
  max-width: 30rem;
  min-width: 22rem;
  height: 70vh;
  width: 70vh;
  resize: none;
  border: none;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  outline: none;
}

#card-container > div > h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #343a40;
}

#card-container > div > h3 {
  font-size: 16px;
  text-align: center;
  color: #495057;
  padding-top: 16px;
  font-weight: 400;
}

#card-botton-copy {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
  height: 100%;
  width: 100%;
}

.button-copy {
  color: #0a3871;
  background-color: #ffffff;
}

/* Rodape*/
footer {
  text-align: center;
  background: #0a3871;
  margin-top: 80px;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  font-style: italic;
}
